$primary-color: #ed7123;

.scrollToTop {
  background-color: $primary-color;
  color: #ffffff;
  &:hover, &:focus {
    background-color: #fff;
    color: $primary-color;
    border-color: 1px solid $primary-color;
  }
}

#header {
  background: none repeat scroll 0 0 $primary-color;
}

.navbar-default {
  background-color: $primary-color;
  border-color: $primary-color;
  .navbar-nav > {
    .active > a {
      color: $primary-color;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
    li > a {
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }
}

.dropdown-menu {
  background-color: #fefefe;
  li a {
    color: $primary-color;
    &:hover, &:focus {
      color: #fff;
      background-color: $primary-color;
    }
  }
}

.search_icon i {
  color: #333;
}

.search_bar {
  border: 2px solid $primary-color;
}

.navbar-default {
    .main-toggle {
        &:hover,
        &:focus {
            background-color: $primary-color;
        }
    }
}

.dw-readmore, .category_heading a, .article_category a, .teaser_category a {
  color: $primary-color;
}

.middle_content > h2, .featured_title, .slick-prev, .slick-next {
  background-color: $primary-color;
}

.article_title a {
  color: #000;
  font-weight: bold;
}

.pagination > li > {
  a:hover, span:hover, a:focus, span:focus {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
  }
}

.dw-widget ul li {
  > a:hover {
    color: $primary-color;
    text-decoration: underline;
  }
  &.active > a:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

.footer_top {
  border-top: 5px solid $primary-color;
}

.footer_widget > h2 {
  &:before, &:hover {
    color: $primary-color;
  }
}

.labels_nav li a:hover, .footer_widget .media a:hover {
  color: $primary-color;
}

#subscribe-submit input {
  background-color: $primary-color;
  &:hover {
    color: $primary-color;
  }
}

.related_post > h2 i, .contact_area > h3:before {
  color: $primary-color;
}

.copyright a:hover, .erropr_recentpost > h2:before {
  color: $primary-color;
}
